<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>commentDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2FEB53B1E703B2500135E08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2FEB5541E703B2600135E08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2FEB55F1E703B2600135E08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
